---
layout: default
---
<article class="post">
  <header class="post-header">
    <h1 class="post-title">{{ page.title }}</h1>
    <p class="post-meta">
      <time datetime="{{ page.date | date_to_xmlschema }}">
        {% assign m = page.date | date: "%-m" %}
        {% case m %}
          {% when '1' %}January
          {% when '2' %}February
          {% when '3' %}March
          {% when '4' %}April
          {% when '5' %}May
          {% when '6' %}June
          {% when '7' %}July
          {% when '8' %}August
          {% when '9' %}September
          {% when '10' %}October
          {% when '11' %}November
          {% when '12' %}December
        {% endcase %}
        {{ page.date | date: "%-d, %Y" }}
      </time>
      {% if page.author %}
        • {{ page.author }}
      {% endif %}
    </p>
  </header>

  <div class="post-content">
    {{ content }}
  </div>
</article>